.container {
  width: 400px;
  height: 400px;
  background-color: #a6a9b6;
  border: 1;
  border-style: solid;
  border-color: #666360;
  position: relative;
}

.innerContainer {
  width: 200px;
  height: 200px;
  position: absolute;
}
#first {
  background-color: #e4e4e4;
  right: 0;
}
#second {
  background-color: #ff912e;
  bottom: 0;
}
